## Importing a CSV file into a postgres database

#### steps

- import the CSV file into a pandas df
- clean the table name and remove extra symbols, spaces, capital letters
- clean the column headers and remove extra symbols, spaces, capital letters
- write the create table SQL statement
- import the data to the db

In [47]:
# import libraries

import os
import pandas as pd
import numpy as np
import psycopg2

In [48]:
df = pd.read_csv(r'C:\Users\npc\Desktop\b5401\b5401\primers.csv')
df

  primer_name              primer_seq
0       T7SMF   gcgtgtgcgggccttagagct
1       T7SMR      atgcgctagctagagatc
2      MT7SMF     gctctatcgcgctattaaa
3      MT7SMR    aaattccgagacgctagaga

In [49]:
# open a db connection
conn_string = "host='localhost' \
               dbname='gene_db' \
               user='postgres' \
               password='1'"
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()
print('open database successfully')

open database successfully

In [50]:
# insert values to table

# open the csv file, save it as an object
my_file = open(r'C:\Users\npc\Desktop\b5401\b5401\primers.csv')
print('file opened in memory')

file opened in memory

In [51]:
# upload to db

SQL_STATEMENT = """
COPY stg.primers FROM STDIN WITH
    CSV
    HEADER
    DELIMITER AS ','
"""

cursor.copy_expert(sql=SQL_STATEMENT, file=my_file)
print('file copied to db')

file copied to db

In [52]:
cursor.execute("grant select on table primers to public")
conn.commit()

cursor.close()
print('table primers uploaded to db')

table primers uploaded to db